@import '../../../styles/settings.scss';

.wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: $font-roboto;
  max-width: 1220px;
  margin: 0 auto;
  .eachInfo {
    flex-basis: calc(100% / 3);
    margin: 10px 0;
    .title {
      text-transform: capitalize;
      font-weight: 500;
      margin: 10px 0;
    }
    .text {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
@media (min-width: 768px) {
  .wrapper {
    border-top: 1px solid #eee;
    justify-content: space-between;
    flex-direction: row;
    .eachInfo {
      padding: 15px;
    }
  }
}
