@import '../../../styles/settings.scss';

.emptyBasket {
  line-height: 200px;
  font-weight: 500;
  color: #636b6f;
  font-size: 18px;
}
.basket {
  padding: 10px 0;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    background-color: #fafafa;
    .image {
      width: 100px;
      height: 80px;
      border: 1px solid black;
      background-color: white;
      border: 0.5px solid $border-Color;
      border-radius: 3px;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .productInfo {
      width: 50%;
      text-align: left;
      margin-left: 20px;
      color: #636b6f;
      font-weight: 400;
      font-size: 13px;
      .title {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        padding: 5px 0px;
      }
      .description {
        padding: 5px 0;
      }
      .realization {
        padding: 5px 0;
      }
      .colors {
        font-weight: 600;
        padding: 2px 0;
      }
    }

    .priceBox {
      margin: 10px 0;
      width: 100%;
      text-align: right;
      span {
        margin-left: 0;
      }
      .oldPrice {
        position: absolute;
        top: -10px;
        right: 0;
        text-decoration: line-through;
        color: black;
      }
      .eachPrice {
        position: relative;
      }
      .eachPrice,
      .totalPrice {
        color: black;
        padding: 15px 0;
      }

      .totalPrice {
        font-weight: 500;
        span {
          font-weight: 400;
        }
      }
      .amountInput,
      .btn {
        border-radius: 3px;
        font-weight: 500;
        width: 35px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid $border-Color;
        outline: none;
      }
      .amountInput {
        text-align: center;
        font-size: 16px;
        color: #636b6f;
      }
      .icon {
        color: #636b6f;
      }
      .btn {
        background-color: transparent;

        &:last-of-type {
          margin-left: 10px;
        }
      }
    }
  }
  span {
    margin-left: 10px;
    color: $bgc-color;
  }
  .totalPay {
    padding: 20px 0;
  }
  .delivery {
    font-size: 12px;
    span {
      margin-left: 18px;
    }
  }
  .summary {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #eee;
  }
  .finalPay {
    padding: 20px 0px;
    color: black;
    font-weight: 500;
  }
  .discountCode {
    text-transform: capitalize;
    color: #4a89dc;
    font-size: 14px;
    padding: 20px 0;
    cursor: pointer;
  }
  .submitBtn {
    width: 100%;
    max-width: 300px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: $bgc-color;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    outline: none;
    transition: linear all 0.5s;
    &:hover {
      background: rgb(183, 68, 52);
      background: radial-gradient(
        circle,
        rgba(183, 68, 52, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
    }
  }
}

@media (min-width: 768px) {
  .basket {
    .wrapper {
      border-bottom: 1px solid $border-Color;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 200px;
      padding: 0px;
      justify-content: space-between;
      .image {
        margin: 0 auto;
      }
      .productInfo {
        width: 25%;
      }
      .priceBox {
        display: flex;
        justify-content: center;
        width: 55%;
        margin: 0;
        line-height: 200px;
        .oldPrice {
          top: -10px;
          left: 0px;
        }
        .eachPrice,
        .totalPrice {
          font-size: 0;
          width: 25%;
          span {
            font-size: 18px;
            padding-right: 10px;
          }
        }
        .amountBox {
          text-align: center;
          width: 50%;
          padding: 15px;
          border-left: 1px solid $border-Color;
          border-right: 1px solid $border-Color;
        }
      }
    }
    .payBox {
      margin: 20px 2px;
      padding: 15px;
      border-left: 1px solid $border-Color;
      width: 41%;
    }
  }
}
@media (min-width: 1024px) {
  .basket {
    .wrapper {
      min-height: 150px;
      .priceBox {
        line-height: 150px;
      }
    }
    padding: 20px 0;
  }
}
@media (min-width: 1440px) {
  .basket {
    padding: 20px 0;
  }
}
