@import '../../../styles/settings.scss';

.header {
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 15px -10px #333333;
  background-color: white;
  .mainMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
    max-width: 1240px;
    margin: 0 auto;
  }
  
}

@media (min-width: 1024px) {
  .mainMenu {
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .mainMenu {
    padding-bottom: 20px;
  }
}
