@import '../../../styles/settings.scss';

.contactPage {
  .header {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .contactPage {
    .header {
      border-top: 4px solid $gray-border;
      border-bottom: 4px solid $gray-border;
      width: 100%;
      text-align: left;
    }
  }
}
