@import '../../../styles/settings.scss';

.gallerySection {
  width: 100%;
  margin-right: 10px;

  .gallery {
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s linear all;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    list-style-type: none;
    padding: 5px;
    font-size: 16px;
    z-index: 999;
    width: 100%;
    .option {
      padding: 10px;
      text-transform: capitalize;
      .optionLabel {
        display: flex;
      }
      .listType {
        flex-grow: 2;
      }
      .icon {
        color: gray;
        cursor: pointer;
        margin: 0 20px 0 5px;
        transition: 0.3s linear all;
      }
      .active {
        color: $bgc-color;
      }
      .selectInput {
        margin-left: 15px;
      }
    }
    .active {
      color: $bgc-color;
    }
  }
  .show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .btn {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .gallerySection {
    .gallery {
      width: calc(50% - 10px);
      left: 5px;
    }
  }
}
@media (min-width: 1024px) {
  .gallerySection {
    margin-right: 20px;
    .gallery {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
      display: flex;
      justify-content: center;
      position: relative;
      background-color: transparent;
      box-shadow: none;
      top: 0;
      padding: 0;
      .option {
        padding: 0;
        .icon {
          margin: 0 10px 0 10px;
        }
      }
      .listType {
        display: none;
      }
      .selectInput {
        display: none;
      }
    }
    .btn {
      display: none;
    }
  }
}
