@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*font-family*/
$font-family: 'Raleway', sans-serif;
$font-ametic: 'Amatic SC', cursive;
$font-roboto: 'Roboto Condensed', sans-serif;

/*Color-font*/
$font-light: white;
$font-gray: #9d9d9d;
$font-black: #343538;

/*Background-color*/
$bgc-color: #b74434;
$bgc-gray: #f9f9f9;

/*Shadow-Inside*/
$shadow-inside: inset -27px -11px 300px -19px rgba(0, 0, 0, 0.75);

/*Border-Color*/
$border-Color: #dbdce2;
$gray-border: #f4f4f4;


